DB_PASSWORD=GxlfUGzqqZpUd7RQ
MONGODB_URI=mongodb+srv://rickmartinezbanda_db_user:$GxlfUGzqqZpUd7RQ@franchise-api-dev.rz2dpuc.mongodb.net/franchise-api-db-dev?retryWrites=true&w=majority&appName=franchise-api-dev
PORT=8081